log:
  level: DEBUG

api:
  dashboard: true

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: true

  file:
    directory: /etc/traefik
    watch: true

entrypoints:
  http:
    address: ":80"
  https:
    address: ":443"
  mTLS:
    address: ":4443"
  traefik:
    address: ":8080"
